body{
    background-color: orangered;
    color: white;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

.container{
    padding: 40px;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 55px;
}

img{
    max-width: 100%;
    height: auto;
    align-self: center;
}

#pokedex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card{
    list-style: none;
    background-color: #f4f4f4;
    color: #222222;
    text-align: center;
    box-shadow: 5px 5px 20px 1px black;
}

.card:hover{
    transform: scale(1.05);
}

.card-title{
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: normal;
}

.card-subtitle{
    margin-top: 5px;
    color: #666666;
    font-weight: lighter;
}

.card-image{
    height: 180px;
}

